@using aspnetmvc_simple_app.PresentationModels
@model WhoAreModel
@{
	ViewBag.Title = "WhoAre - About";
}
<div class="jumbotron">
	<div class="container">
		<h1 class="display-4">Who Are Page</h1>
		<p class="lead">This is the who are page.</p>
		<p>
			<a href="@Url.Action("Index", "About")" class="btn-default btn-sm btn btn-primary">
				Back to About Us...
			</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div id="content_main" class="container">
				@Html.Raw(Model.MdHtml)
			</div>
			<div class="container">
				<ul class="list-group">
					@foreach (var person in Model.People)
					{
						<li class="list-group-item">
							@person.Name @person.Surname
							<button data-target="personCard@(person.Id)" class="showPersonDetails badge badge-secondary badge-list-group">show details</button>
						</li>
					}
				</ul>
			</div>
		</div>
		<div class="col-md-4">
			<div class="container">
				@foreach (var person in Model.People)
				{
					var style = person.Id != 1 ? " display:none; " : "";
					<div id="personCard@(person.Id)" class="card personCard" style="@style">
						<img class="card-img-top" src="@person.ProfileSrc" alt="@person.Surname" />
						<div class="card-body">
							<h5 class="card-title">@person.Name @person.Surname</h5>
							<p class="card-text">@person.ShortBio</p>
							<a href="#" class="btn btn-primary">@person.Email</a>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>
@** For demonstration purpose **@
<div class="file_contents container">
	<span>file: /data/pages/whoare.md</span>
	<p class="lead">
		(the data in the whoare page)
	</p>
	<code><pre>@Model.MdText</pre></code>
</div>
<div class="file_contents container">
	<span>file: /data/people.json</span>
	<p class="lead">
		(the data whom represent people)
	</p>
	<code><pre>@Model.JsonString</pre></code>
</div>
@** END For demonstration purpose **@
<script type="text/javascript">
	$(document).ready(function () {
		$('.showPersonDetails').click(function () {
			const target = $(this).attr('data-target');
			$('.card.personCard').hide();
			$('#' + target).show();
		});
	});
</script>